---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import JsTest from '../comp_test/JsTest.astro';
import Gallery from '../components/Gallery.astro';

---

<Layout>
	<Navbar />
	<div class="mx-auto px-4 sm:px-6 lg:px-8 py-4">
		<Gallery />
	</div>
	<Footer />
</Layout>
