---
import '../styles/global.css';

const year = new Date().getFullYear();
---

<footer class="bg-gradient-to-l from-background to-specialbg relative shadow-[0_-4px_6px_-1px_rgba(0,0,0,0.1),0_-2px_4px_-2px_rgba(0,0,0,0.1)]">
    <div class="flex justify-center items-center h-16 w-full">
        <a href="https://www.instagram.com/pualani_creative/">
            <svg class="size-8 text-text hover:text-hover transition-colors" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path fill="currentColor" fill-rule="evenodd" d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z" clip-rule="evenodd"/>
            </svg>         
    
        </a>
    </div>

    <!-- Scroll to Top Arrow (positioned in the bottom left of footer) -->
    <button 
        onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
        class="absolute bottom-2 right-6 text-text p-3 rounded-full shadow-md transition-all duration-300"
        aria-label="Scroll to top"
    >
        <svg xmlns="http://www.w3.org/2000/svg" class="size-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
        </svg>
    </button>
</footer>

<div class="flex justify-center items-center h-8 bg-white border-t border-border">
    <p>&copy; {year} Pualani Creative. All rights reserved.</p>
</div>
