---
import '../styles/global.css';
---

<nav class="w-full fixed top-0 bg-gradient-to-r from-background/80 to-specialbg/80 backdrop-blur-md shadow-md z-30">
    <div class="relative flex justify-between items-center h-24">
        <a href="/" class="text-fluid-logo font-logo text-heading hover:text-hover ml-10">Pualani Creative</a>
        

        <!-- Desktop menu-->
        <div class="hidden lg:block mt-2">
            <ul class="flex space-x-2 items-center">
                <li><a href="/portfolio" class="link">Portfolio</a></li>
                <li><a href="/pricing" class="link">Pricing</a></li>
                <li><a href="/floral-arrangements" class="link">Floral Arrangements</a></li>
                <li><a href="/about" class="link">About Me</a></li>
                <li><button class="button mx-10"><a href="/booking">Book You Session</a></button></li>
            </ul>
        </div>
        
        <!-- Mobile menu -->
        <div class="lg:hidden svg flex">
            <button id= "menuOpenButton" class="p-2 mr-10 rounded-lg shadow-md transition-all">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
                </svg>
            </button>
        </div>  
    </div>
</nav>

<div id="overlay" class="fixed inset-0 z-40 bg-black bg-opacity-50 hidden transition-opacity duration-1000 ease-in-out"></div>
<nav id="sideBar" class="h-full w-3/4 fixed top-0 right-0 bg-background z-50 translate-x-full transition-transform duration-500">
    <div class="flex justify-end">
        <button id= "menuCloseButton" class="p-2 m-2 rounded-lg shadow-md transition-all svg">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
        </button>
    </div>
    <ul class="text-right space-y-6 mr-2">
        <li><a href="/portfolio" class="link">Portfolio</a></li>
        <li><a href="/portfolio" class="link">Pricing</a></li>
        <li><a href="/floral-arrangements" class="link">Floral Arrangements</a></li>
        <li><a href="/about" class="link">About Me</a></li>
        <li><a href="/booking" class="link button">Book Your Session</a></li>
    </ul>
</nav>

<div class="pb-24"></div>

<script>
    const overlay = document.getElementById('overlay');
    const sideBar = document.getElementById('sideBar');
    const menuOpenButton = document.getElementById('menuOpenButton');
    const menuCloseButton = document.getElementById('menuCloseButton');

    function openMenu() {
        overlay?.classList.remove('hidden');
        sideBar?.classList.remove('translate-x-full');
    }

    function closeMenu() {
        overlay?.classList.add('hidden');
        sideBar?.classList.add('translate-x-full');
    }

    menuOpenButton?.addEventListener('click', openMenu);
    menuCloseButton?.addEventListener('click', closeMenu)
</script>